<%= f.hidden_field(:slideshow_type_id, :value => @slideshow_type.id) %>
<%= f.hidden_field(:attachment_width, :value => @slideshow_type.slide_width) %>
<%= f.hidden_field(:attachment_height, :value => @slideshow_type.slide_height) %>
<tr data-hook="file">
  <td><%= t(:filename) %>:</td>
  <td><%= f.file_field :attachment %></td>
</tr>
<tr data-hook="title">
  <td><%= t(:title) %>:</td>
  <td><%= f.text_field :title %></td>
</tr>
<tr data-hook="url">
  <td><%= t(:url) %>:</td>
  <td><%= f.text_field :url %></td>
</tr>
