<h1><%= t("slideshow_type.new_page") %></h1>
<%= render "shared/error_messages", :target => @slide %>

<%= semantic_form_for([:admin, @slide]) do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<p class="form-buttons">
	<%= button t("actions.create"), nil, 'submit' %>
	<%= t("or") %> <%= link_to t("actions.cancel"), admin_slides_path %>
</p>
<% end %>