<h1><%= t("slideshow_type.new_page") %></h1>
	<%= render :partial => 'admin/shared/slideshow_type_tabs', :locals => {:current => 'Slideshow_type Details'} %>
	<%= render "shared/error_messages", :target => @slideshow_type %>

	<%= semantic_form_for([:admin, @slideshow_type]) do |f| %>
		<%= render :partial => "form", :locals => { :f => f } %>
		<%= render :partial => 'admin/shared/edit_resource_links' %>
	<% end %>
