<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_slideshow_type_link">
      <%= button_link_to t(:new_slideshow_type), new_object_url, {:remote => true, :icon => 'add', :id => 'admin_new_slideshow_type'} %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= "#{t('actions.listing')} #{t(:slideshow_type)}" %></h1>

<div id="new_slideshow" data-hook></div>

<table class="index" id="listing_slideshow_types">
  <tr data-hook="admin_slideshow_types_index_headers">
    <th><%= t(:category) %></th>
    <th><%= t(:enable) %></th>
    <th><%= t(:slide_number) %></th>
    <th data-hook="admin_slideshow_types_index_header_actions"></th>
  </tr>
<% @slideshow_types.each do |slideshow_type| %>
  <tr id="<%= dom_id slideshow_type %>" data-hook="admin_slideshow_types_index_rows">
    <td><%= slideshow_type.category %></td>
    <td><%= icon('tick') if slideshow_type.enabled %></td>
    <td><%= slideshow_type.slide_number %></td>
    <td class="actions" data-hook="admin_products_index_row_actions">
      <%= link_to_edit slideshow_type, :class => 'edit' %>&nbsp;
      <%= link_to_delete slideshow_type %>
    </td>
  </tr>
<% end %>
</table>
