<div class='toolbar'>
	<ul class='actions'>
		<li id="new_product_link">
			<%= button_link_to t("slideshow_type.new_page"), new_admin_slideshow_type_url, {:icon => 'add'} %>
		</li>
	</ul>
	<br class='clear' />
</div>

<h1><%= t("slideshow_type.many") %></h1>

<table class="index">
	<tr>
		<th><%= t("slideshow_type.category") %></th>
		<th><%= t("slideshow_type.enable") %></th>
		<th><%= t("slideshow_type.slide_number") %></th>
		<th><%= t("action") %></th>
	</tr>
	<tbody>
		<% @slideshow_types.each do |slideshow_type| %>
		<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id slideshow_type %>">
			<td><%= slideshow_type.category %></td>
			<td><%= icon('tick') if slideshow_type.enabled %></td>
			<td><%= slideshow_type.slide_number %></td>
			<td>
				<%= link_to_edit slideshow_type %> &nbsp;
				<%= link_to_delete slideshow_type %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>