<% content_for :page_title do %>
  <%= t(:listing_slideshows) %>
<% end %>

<% content_for :page_actions do %>
  <div class="toolbar" data-hook="toolbar">
    <ul class="actions header-action-links inline-menu">
      <li id="new_slideshow_link">
        <%= button_link_to t(:new_slideshow), new_object_url, { :remote => true, :icon => 'icon-plus', :id => 'admin_new_slideshow' } %>
      </li>
    </ul>
  </div>
<% end %>

<div id="new_slideshow" data-hook></div>

<table class="index" id="listing_slideshows">
  <tr data-hook="admin_slideshows_index_headers">
    <th><%= t(:category) %></th>
    <th><%= t(:enable) %></th>
    <th><%= t(:slide_number) %></th>
    <th data-hook="admin_slideshows_index_header_actions"></th>
  </tr>
<% @slideshows.each do |slideshow| %>
  <tr id="<%= spree_dom_id slideshow %>" data-hook="admin_slideshows_index_rows">
    <td><%= slideshow.category %></td>
    <td><%= icon('tick') if slideshow.enabled %></td>
    <td><%= slideshow.slide_number %></td>
    <td class="actions" data-hook="admin_slideshows_index_row_actions">
      <%= link_to_edit slideshow, :class => 'edit' %>
      &nbsp;
      <%= link_to_delete slideshow %>
    </td>
  </tr>
<% end %>
</table>