<div class='toolbar'>
  <ul class='actions'>
    <li id="new_product_link">
      <%= button_link_to t("slideshow_type.new_page"), new_object_url, {:icon => 'add'} %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%=t("slideshow_type.slideshow") %></h1>

<table class="index">
	<tr>
		<th><%= Spree::SlideshowType.human_attribute_name(:name) %></th>
		<th><%= Spree::SlideshowType.human_attribute_name(:enabled) %></th>
		<th><%= t("action") %></th>
  </tr>
	<tbody>
    	<% @slideshow_type.each do |slideshow_type| %>
		<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id slideshow_type %>">
			<td>
				<%= slideshow_type.name %>
			</td>
			<td>
			  <%= icon('tick') if slideshow_type.enable %>
			</td>
			<td>
        <%= link_to_edit slideshow_type %> &nbsp;
        <%= link_to_delete slideshow_type %>
	    </td>
		</tr>
		<% end %>
	</tbody>
</table>