<% content_for :page_title do %>
  <%= t(:editing_slideshow) %> &ldquo;<%= @slideshow.category %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
  <span class="category"><%= @slideshow.category %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_slideshow_tabs">
      <li<%== ' class="active"' if current == 'Slideshow Details' %>>
        <%= link_to_with_icon 'icon-edit', t(:slideshow_details), edit_admin_slideshow_url(@slideshow) %>
      </li>
      <li<%== ' class="active"' if current == 'Slides' %>>
        <%= link_to_with_icon 'icon-picture', t(:slides), admin_product_slides_url(@slideshow) %>
      </li>
    </ul>
  </nav>

<% end %>
