<%= render :partial => 'spree/admin/shared/slideshow_type_tabs', :locals => {:current => 'Slides'} %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @slide } %>

<%= form_for [:admin, @slideshow_type, @slide], :html => { :multipart => true } do |f| %>
  <table class="basic-table" data-hook="edit_slide">
    <tr data-hook="thumbnail">
      <td><%= t(:thumbnail) %>:</td>
      <td><%= link_to image_tag(@slide.attachment.url(:mini)), @slide.attachment.url(:medium) %></td>
    </tr>
    <%= render :partial => 'form', :locals => { :f => f } %>
  </table>
  <p class="form-buttons" data-hook="buttons">
    <%= button t(:update) %>
    <%= t(:or) %> <%= link_to t(:cancel), admin_slideshow_type_slides_url(@slideshow_type), :id => 'cancel_link' %>
  </p>
<% end %>