<%= render :partial => 'spree/admin/shared/slideshow_type_tabs', :locals => {:current => 'Slides'} %>

<table class="index sortable" data-hook="slide_table" data-sortable-link="<%= update_positions_admin_slideshow_type_slides_url(@slideshow_type) %>">
  <tr data-hook="images_header">
    <th><%= t(:thumbnail) %></th>
	<th><%= t(:title) %></th>
    <th><%= t(:url) %></th>
    <th><%= t(:action) %></th>
  </tr>

  <tbody>
  <% @slideshow_type.slides.each do |slide| %>
    <tr id="<%= spree_dom_id slide %>" data-hook="images_row">
      <td>
        <span class="handle"></span>
        <%= link_to image_tag(slide.attachment.url(:mini)), slide.attachment.url(:medium) %>
      </td>
      <td><%= slide.title %></td>
	  <td><%= slide.url %></td>
      <td class="actions">
        <%= link_to_with_icon 'edit', t(:edit), edit_admin_slideshow_type_slide_url(@slideshow_type, slide), :class => 'edit' %>
        &nbsp;
        <%= link_to_delete slide, { :url => admin_slideshow_type_slide_url(@slideshow_type, slide) }%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div id="slides" data-hook></div>
<br />
<p data-hook="links">
    <%= link_to icon('add') + ' ' + t(:new_slide), new_admin_slideshow_type_slide_url(@slideshow_type), :id => 'new_slide_link' %>
</p>
