<% content_for :sidebar do %>
  <h3><%= t(:sidebar) %></h3>
  <br class="clear" />
  <ul class="sidebar slide-menu" data-hook="admin_slide_tabs">
	<li<%== ' class="active"' if current == 'Slideshow Details' %>>
	  <%= link_to t(:detail), edit_admin_slideshow_type_url(@slideshow_type) %>
	</li>
    <li<%== ' class="active"' if current == 'Slides' %>>
      <%= link_to t(:slide), admin_slideshow_type_slides_path(@slideshow_type) %>
    </li>
  </ul>
  <br class="clear" />

<% end %>