<% content_for :sidebar do %>

  <h3><%= t(:variant_slideshow_type) %></h3>
  <br class="clear" />

  <ul class="sidebar slide-menu" data-hook="admin_slide_tabs">
	<li<%== ' class="active"' if current == 'Slideshow_type Details' %>>
	  <%= link_to t(:slideshow_type_details), edit_admin_slideshow_type_url(@slideshow_type) %>
	</li>
    <li<%== ' class="active"' if current == 'Slide Image' %>>
      <%= link_to t("slideshow_type.slide"), admin_slideshow_type_slides_path(@slideshow_type) %>
    </li>
  </ul>
  <br class="clear" />

<% end %>